<%@ Import Namespace="WebSupergoo.ABCpdf8" %>

<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>PDF Editor Example Site using ABCpdf</title>
</head>
<frameset rows="4, *,32" frameborder="0" framespacing="0" border="0">
	<frame src="header.htm" name="topFrame" scrolling="no" />
	<frameset cols="280,*" frameborder="0" framespacing="0" border="0">
		<frame src="left.htm" name="leftFrame" />
		<frame src="start.aspx" name="propertiesFrame" scrolling="auto" />
	</frameset>
	<frame src="footer.htm" name="bottomFrame" scrolling="no" />
	<noframes>
		<body>
			<p>This website uses frames.</p>
		</body>
	</noframes>
</frameset>
</html>
