<table width="500" border="1">
  <tr>
    <td width="50%">A</td>
    <td>B</td>
    <td>C</td>
  </tr>
  <tr>
    <td width="50%"><table width="370" border="6" cellpadding="10" cellspacing="16" bordercolor="#FF0000" bgcolor="#99FFFF">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr bgcolor="#99FF33">
        <td>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>0</td>
        <td>a</td>
        <td>b</td>
      </tr>
    </table></td>
    <td bgcolor="#FFCCFF">E</td>
    <td>F</td>
  </tr>
  <tr>
    <td width="50%">G</td>
    <td>H</td>
    <td>I</td>
  </tr>
</table>
