<table width="200" border="1" cellspacing="10">
  <tr>
    <td>Line 1</td>
    <td width="100"><p>Once</p>
    <p>Upon</p></td>
  </tr>
  <tr>
    <td border="0">Line 2</td>
    <td width="100"><p>a</p>
    <p>time</p></td>
  </tr>
  <tr border="0">
    <td>Line 3</td>
    <td width="100"><p>there</p>
    <p>was</p></td>
  </tr>
  <tr>
    <td>Line 4</td>
    <td width="100" border='0'><p>a</p>
    <p>cat</p></td>
  </tr>
  <tr>
    <td>Line 5</td>
    <td width="100"><p>called</p>
    <p>Scratchy.</p></td>
  </tr>
</table>
<table width="200" border="1" cellspacing="10">
  <tr>
    <td>Line 1</td>
    <td width="100"><p>Once</p>
    <p>Upon</p></td>
  </tr>
  <tr>
    <td>Line 2</td>
    <td width="100"><p>a</p>
    <p>time</p></td>
  </tr>
  <tr>
    <td>Line 3</td>
    <td width="100"><p>there</p>
    <p>was</p></td>
  </tr>
  <tr>
    <td>Line 4</td>
    <td width="100"><p>a</p>
    <p>cat</p></td>
  </tr>
  <tr>
    <td>Line 5</td>
    <td width="100"><p>called</p>
    <p>Scratchy.</p></td>
  </tr>
</table>
<table width="200" border="1" cellspacing="10">
  <tr>
    <td>Line 1</td>
    <td width="100"><p>Once</p>
    <p>Upon</p></td>
  </tr>
  <tr>
    <td>Line 2</td>
    <td width="100"><p>a</p>
    <p>time</p></td>
  </tr>
  <tr>
    <td>Line 3</td>
    <td width="100"><p>there</p>
    <p>was</p></td>
  </tr>
  <tr>
    <td>Line 4</td>
    <td width="100"><p>a</p>
    <p>cat</p></td>
  </tr>
  <tr>
    <td>Line 5</td>
    <td width="100"><p>called</p>
    <p>Scratchy.</p></td>
  </tr>
</table>
<table width="200" border="1" cellspacing="10">
  <tr>
    <td>Line 1</td>
    <td width="100"><p>Once</p>
    <p>Upon</p></td>
  </tr>
  <tr>
    <td>Line 2</td>
    <td width="100"><p>a</p>
    <p>time</p></td>
  </tr>
  <tr>
    <td>Line 3</td>
    <td width="100"><p>there</p>
    <p>was</p></td>
  </tr>
  <tr>
    <td>Line 4</td>
    <td width="100"><p>a</p>
    <p>cat</p></td>
  </tr>
  <tr>
    <td>Line 5</td>
    <td width="100"><p>called</p>
    <p>Scratchy.</p></td>
  </tr>
</table>
<table width="200" border="1" cellspacing="10">
  <tr>
    <td id="address">Line 1</td>
    <td width="100"><p>Once</p>
    <p>Upon</p></td>
  </tr>
  <tr>
    <td>Line 2</td>
    <td width="100"><p>a</p>
    <p>time</p></td>
  </tr>
  <tr>
    <td>Line 3</td>
    <td width="100"><p>there</p>
    <p>was</p></td>
  </tr>
  <tr id="11">
    <td>Line 4</td>
    <td width="100"><p>a</p>
    <p>cat</p></td>
  </tr>
  <tr>
    <td id="yy">Line 5</td>
    <td width="100" id="zz"><p>called</p>
    <p>Scratchy.</p></td>
  </tr>
</table>




